<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="local.release" value="../../test/Json.TestLogger.Package/bin/Release" />
    <add key="local.xunit" value="../../src/Xunit.Xml.Package/bin/Release" />
    <add key="local.nunit" value="../../src/NUnit.Xml.Package/bin/Release" />
    <add key="local.junit" value="../../src/JUnit.Xml.Package/bin/Release" />
  </packageSources>
</configuration>
